* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  --chakra-fonts-body: 'Nunito', sans-serif;
  --chakra-fonts-heading: 'Nunito', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--chakra-body-bg);
}

#__next {
  max-width: 100vw;
  overflow-x: hidden;
}
